menu {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 400px;
  width: 96%;
  height: 55px;
  color: white;
  padding-left: 0 !important;

  .blur {
    color: black;
    width: 100%;
    height: 55px;
    position: fixed;
    bottom: 0;
    left: 50%;
    background-position: center bottom -20px;
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateX(-50%);
    border-radius: 20px;
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -ms-filter: blur(3px);
    -o-filter: blur(3px);
    filter: blur(3px);
  }
  .content {
    border-radius: 20px;
    width: 100%;
    height: 55px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-box-shadow: 0 1px 7px rgba(0, 0, 0, 0.6);
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.6);
  }
  ion-col {
    text-align: center;
  }
  .icon-txt {
    font-size: 9px;
    transform: translateY(-7px);
  }
  .qr img {
    margin-top: 7px;
  }
  .qr .icon-txt {
    transform: translateY(-1px);
  }
}
