page-home {
  .main__qr {
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 30px;
    color: white;
    background: #31465d;
    border-radius: 50%;
  }
  .main__house {
    position: fixed;
    bottom: 10px;
    left: 10px;
    padding: 30px;
    color: white;
    background: #31465d;
    border-radius: 50%;
  }
  .scene {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .sizebig {
    font-size: 32px;
    z-index: -1;
  }
}
