// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@import "font.scss";
@import url("https://fonts.googleapis.com/css?family=Prompt");

html,
body {
  font-family: "Prompt", sans-serif !important;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.middle {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.middle-left {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.color.white {
  color: white;
}

.container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.header-font {
  font-family: $header-font, "Prompt";
}

.content-font {
  font-family: "Prompt", sans-serif;
}

tooltip-box {
  white-space: pre-wrap !important;
  width: 100%;
  text-align: left !important;
}

.transparent-body {
  // background: none transparent !important;
  // opacity: 0 !important;
  // clip: rect(0px, 50px, 100%, 0px);
}
