<!--
  Generated template for the HouseDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
  <ion-spinner *ngIf="!house" name="crescent"></ion-spinner>
  <div class="container paddingMenu">
    <div class="house" #content *ngIf="house">
      <div [ngClass]="{ 'modal--blur': modalStatus }">
        <div class="error header-font" *ngIf="error_msg">{{ error_msg }}</div>
        <div *ngIf="!error_msg">
          <div class="bg">
            <img-loader
              [spinner]="false"
              [src]="house.house_image[1]"
              class="bg"
              backgroundSize="100% 100%"
            ></img-loader>
            <!--
              <video autoplay="false" muted="false" #vid width="100%" height="100%" onclick="this.play()" (click)="play()" (ended)="vidEnded()">
                <source [src]="house.house_video+'#t=0.5'" type="video/mp4" />
              </video>
              <div class="absolute middle" *ngIf="playBut" (click)="vid.play();play()">
                <img-loader [spinner]="false" src="assets/imgs/play.png" width="64"></img-loader>
              </div>
            -->
          </div>
          <div class="relative">
            <div class="house_image">
              <img-loader
                [spinner]="false"
                class="house_image_loader"
                [src]="house.house_image[0]"
                backgroundSize="100% 100%"
              ></img-loader>
            </div>
            <div class="items">
              <div class="flag">
                <img
                  *ngIf="house.house_flag === 'A1'"
                  class="flag__image"
                  src="assets/imgs/flag_gold.png"
                  width="100"
                  (click)="changeType('flag'); modalToggle()"
                />
                <img
                  *ngIf="house.house_flag === 'A2'"
                  class="flag__image"
                  src="assets/imgs/flag_silver.png"
                  width="100"
                  (click)="changeType('flag'); modalToggle()"
                />
                <img
                  *ngIf="house.house_flag === 'B1'"
                  class="flag__image"
                  src="assets/imgs/flag_bronze.png"
                  width="100"
                  (click)="changeType('flag'); modalToggle()"
                />
                <img
                  *ngIf="house.house_flag === 'B2'"
                  class="flag__image"
                  src="assets/imgs/flag_normal.png"
                  width="100"
                  (click)="changeType('flag'); modalToggle()"
                />
              </div>
              <div class="contact">
                <div class="map" (click)="openMap()">
                  <div align="center">
                    <img src="assets/imgs/map.png" width="35" />
                  </div>
                  <br />
                  <div class="icon-name" align="center">
                    {{ house.house_province }}
                  </div>
                </div>
                <div class="tel" (click)="call(house.house_phone)">
                  <div align="center">
                    <img src="assets/imgs/phone.png" width="23" />
                  </div>
                  <br />
                  <div class="icon-name" align="center">
                    {{ house.house_phone }} <br />{{ house.house_phone_home }}
                  </div>
                </div>
              </div>
            </div>
            <div class="house--content" align="center">
              <div class="product_detail">
                <h1 class="header-font">{{ house.house_name }}</h1>
                <h1 class="header-font colorid">color id</h1>
                <div
                  class="color"
                  *ngFor="let color of house.house_color; let i = index"
                  [style.backgroundColor]="'#' + color.color_code"
                  (click)="
                    house_index = i + 1; changeType('color'); modalToggle()
                  "
                ></div>
                <h1 class="header-font colorid">about house</h1>
                <div
                  class="detail"
                  [innerHTML]="house.house_detail"
                  align="left"
                >
                  <!--
                    <span *ngIf="house.house_flag === 'A1'">กลุ่มที่ผลิตวัตถุดิบเองเกิน 80% ย้อมสีธรรมชาติได้มีความแม่นยำสูง ฝีมือประณีต มีเอกลักษณ์</span>
                    <span *ngIf="house.house_flag === 'A2'">กลุ่มที่ผลิตวัตถุดิบเองเกิน 50% ย้อมสีธรรมชาติได้มีความแม่นยำสูง ฝีมือดี มีเอกลักษณ์</span>
                    <span *ngIf="house.house_flag === 'B1'">กลุ่มที่ผลิตวัตถุดิบเองเกิน 30% ย้อมสีธรรมชาติได้มีความแม่นยำสูง ฝีมือดี</span>
                    <span *ngIf="house.house_flag === 'B2'">กลุ่มที่ผลิตวัตถุดิบเองเกิน 20% ย้อมสีธรรมชาติ ฝีมือดี มีศักยภาพในการพัฒนาในอนาคต</span>
                  -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <modal
      [modalStatus]="modalStatus"
      [type]="type"
      [content]="house"
      [index]="house_index"
      (close)="changeType('color'); modalToggle()"
    ></modal>
  </div>
  <menu ion-fixed *ngIf="!modalStatus" [url]="house" [error]="error_msg"></menu>
</ion-content>
